@import '../../../common/styles/variable';

.menu {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 90px;
    z-index: 11;
    transition: all 0.35s ease;
    background-color: $bgColorSecond;
    padding-top: 50px;
    border-right: 1px solid $borderColor;

    .listItem {
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        gap: 40px;
    }

    @media (max-width: 940px) {
        left: -90px;
    }
    &.active {
        left: 0;
    }
}
