@import '../../common/styles/variable';

.item {
    list-style-type: none;

    .wrapperConnect {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 60px;
        background-color: $bgColorSecond;
        width: 100%;
        border-radius: 10px;
        border: 2px solid $borderColor;
        padding: 10px;
        transition: all .2s;
        &:hover {
            background-color: $borderColor;
            border: 2px solid $mainColor;
            & .content svg {
                fill: $mainColor;
            }
        }
        .content{
            display: flex;
            align-items: center;
            gap: 20px;
            .descr {
                color: $descriptionColor;
                font-weight: 700;
            }
        }

    }
}

