
.skill {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid
}
.img {
    width: 50px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}
.titleSkill {
    padding: 20px;
    background-color: #dffdca;
}