.container {
  width: 1300px;
  margin: 0 auto;
  padding: 70px 5px 70px 95px;
  transition: all .35s ease;
  @media(max-width: 1200px) {
    padding: 70px 5px 70px 95px;
    width: 100%;
    @media (max-width: 940px) {
      padding: 50px 0px 50px 0px;
      width: 95%;
    }
  }
}


