//$bgColorFirst: #202020;
$bgColorFirst: #0e1720;
$bgColorSecond: #131e2c;
//$bgColorSecond: #282a2a;

//$borderColor: #444547;
$borderColor:#3f485a;

$mainColor: #0074c1;
//$mainColor: #004a77;
$iconColor: #c2e7ff;

$titleColor: #e3e3e3;
$descriptionColor: #e3e3e3;
//$descriptionColor: #c4c7c5;

//#007aff;