@import '../../common/styles/variable';

.wrapperWork {
  position: relative;
  width: 32%;
  height: 250px;
  border: 2px solid $borderColor;
  border-radius: 10px;
  background-color: $bgColorSecond;
  padding: 10px;
  &:hover {
    .wrapperContent {
      bottom: 30px;
      opacity: 1;
    }
    .img:after {
      content: '';
      position: absolute;
      background: rgba(0, 116, 193, .3);
      border-radius: 8px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  @media(max-width: 1055px) {
    width: 48%;
    @media(max-width: 735px) {
      width: 80%;
      @media(max-width: 550px) {
        width: 100%;
      }
    }
  }

  .img {
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .wrapperContent {
    width: 80%;
    position: absolute;
    border-radius: 10px;
    border: 2px solid $borderColor;
    background-color: $bgColorFirst;
    left: 10%;
    padding: 10px;
    bottom: -40px;
    opacity: 0;
    transition: all .3s;
    &:hover{
      .linkWork{
        transform: scale(1.2);
      }
    }

    .title {
      font-size: 16px;
      color: $titleColor;
      width: 80%;
    }

    .linkWork {
      position: absolute;
      right: 0;
      top: 7px;
      cursor: pointer;
      transition: all .3s;
    }

    .description {
      margin-top: 3px;
      font-size: 13px;
      color: $descriptionColor
    }
  }
}









