@import '../../common/styles/variable';

.skill {
  display: flex;
  padding: 10px;
  width: 32%;
  background-color: $bgColorFirst;
  border-radius: 10px;
  gap: 10px;
  list-style-type: none;
  border: 2px solid $borderColor;
  transition: all 0.2s;
  &:hover{
    box-shadow: 0px 0px 5px $mainColor;
    & .icon svg{
      transform: scale(1.2);
    }
  }
  @media(max-width: 940px){
    width: 45%;
    @media(max-width: 735px){
      width: 95%;
      @media(max-width: 550px){
        width: 100%;
      }
    }
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $iconColor;
    height: 40px;
    width: 40px;
    & svg {
      transition: all .2s;
    }
  }
  .title {
    color: $titleColor;
  }
  .descr {
    color: $descriptionColor;
    margin-top: 10px;
    font-size: 16px;
  }
}





