@import '../../../common/styles/variable';

.item {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  color: $titleColor;
  gap: 5px;

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    position: relative;
    transition: all 3s ease-in-out;
    &:before{
      content: '';
      position: absolute;
      width: 60px;
      height: 30px;
      border-radius: 30px;
      background-color: $mainColor;
      top: 2px;
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.22, 0.91, 0.99, 0.99);
    }
    .icon{
      z-index: 15;
    }
  }

  .link {
    font-size: 13px;
  }
}

.active{
  .item{
    .img:before{
      opacity: 1;
    }

  }
}


