@import "../../common/styles/variable";

.header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background-color: $bgColorSecond ;
  border-bottom: 1px solid $borderColor ;
  opacity: 0;
  transition: all .35s ease;
  .hamburger{
    position: absolute;
    top: 8px;
    right: 5%;
    height: 34px;
    width: 35px;
    background: $mainColor;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & span {
      width: 60%;
      height: 2px;
      background-color: $titleColor;
    }
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      right: 20%;
      height: 2px;
      width: 60%;
      background-color: $titleColor;                      //не просто color а background-color
    }
    &:before{
      top: 30%;
    }
    &:after{
      bottom: 30%;
    }

  }
  @media (max-width: 940px) {
    opacity: 1;
  }
}
