.nav {
   display: flex;
   gap: 5px;
   border: 1px solid grey;
   padding: 3px 5px;
   margin-right: 25px;
}

.item {
   list-style-type: none;
}
.item > a {
   text-decoration: none;
   text-transform: uppercase;
}